.searchbar{
    width: 29%;
    margin: 0 auto;
}

.singleGrid{
    width: 70%;
    padding-top: 10px;
}

#yunoBanner{
    height: 220px;
    width: max-content;
}

#buttonDesc{
    text-align: center;
    color: rgb(255, 230, 0);
    margin-top: 10px;
    padding-bottom: 5px;
    background-color: black;
}

body{
    background-image: url('https://img.wallpapersafari.com/desktop/1920/1080/28/24/GbtXsV.jpg')
}