.aniGrid {
    padding: 40px;
    list-style: none;
    width: 470px;

    :hover{
        background-color: rgb(175, 175, 175);
        cursor: pointer;
    }
}

.imageTile {
    height: 383px;
    width: 350px;
}

.aniPaper {
    padding: 20px;
    width: 100%;
    height: 730px;
    position: relative;
}

.button{
   position: absolute !important;
   bottom: 0;
   right: 35%;
   margin-bottom: 20px !important;
}

#title {
    text-align: center;
}

#cardImage {
    height: 100%;
    width: 100%;
}

#syno {
    width: 350px;
}